<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/login.css">

</head>

<body>
<form method="post" id="reg" action="123.html">
<ol class="login_error"></ol>
<!--页头部分-->
  <div id="container">
    <div class="sign-up-top">
      <div class="container">
        <div class="row">
          <div class="login_header">
            <img src="../images/logo_new.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
<!--登录部分-->
  <div class="container">
    <div class="row">
      <div class="col-sm-7 center-block float-none">
        <div class="red_title">登录</div>
        <div class="sign-contact">
          <div class="red_line"></div>
          <div class="login-input">
             <div class="row">
                <div class="col-sm-8 center-block float-none">
                   <div class="user">
                      <input id="user" placeholder="邮箱/帐号" name="user"  minlength="2" required>
                      <span></span>
                    </div>
                    <div class="user password1">
                      <input id="password1" placeholder="请输入密码" type="password1" maxlength="12" name="password1" minlength="6" required>
                      <span></span>
                    </div>
                    <div class="sign-btn">
                      <input class="submit" type="submit" value="登录">
                      <span></span>
                    </div>
                  <div class="logon clearfix">
                      <div class="logon-left">
                         <a href="">帮助</a>
                      </div>
                      <div class="logon-right">
                        <a id="blue">立即注册</a>
                        <a id="blue">忘记密码</a>
                      </div>
                   </div>
                   <div class="other-way">
                       <p>也可使用以下帐号登录</p>
                       <a>
                         <span></span>
                       </a>
                   </div>
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>  
<!--footer部分
  <div id="sign-footer" class="sign-footer">
     <div class="container">
        <div class="row">
           <div class="col-sm-7 float-none center-block">
              <p>版权所有 © 华为技术有限公司 1998-2017.保留一切权利.</p>
           </div>
        </div>
     </div>
  </div>
-->

<script type="text/javascript" src="../javascripts/jquery.1.9.1.min.js"></script>
<script type="text/javascript" src="../javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="../javascripts/jquery.validate.js"></script>
<script type="text/javascript" src="../javascripts/jquery.form.js"></script>

<script type="text/javascript" src="../javascripts/login.js"></script>
</body>
</html>