<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/signup.css">

</head>

<body>
<form method="post" id="reg" action="123.html">
<ol class="login_error"></ol>
<!--页头部分-->
  <div id="container">
    <div class="sign-up-top">
      <div class="container">
        <div class="row">
          <div class="login_header">
            <img src="../images/logo_new.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
<!--注册部分start-->
  <div class="container">
    <div class="row">
      <div class="col-sm-7 center-block float-none">
        <div class="red_title">登录</div>
        <div class="sign-contact">
          <div class="red_line"></div>
          <div class="login-input">
             <div class="row">
                <div class="col-sm-8 center-block float-none">
                <!--邮箱密码姓名框start-->
                 <p>现在就开始创建一个华为账号吧，填写以下信息即可。</p>
                    <div class="email-box clearfix">
                      <p>邮箱</p>
                      <input class="email borbox" name="email"/>
                    </div>
                    <div class="email-box clearfix">                    
                       <p>密码</p>
                       <input class="email borbox" name="password">
                    </div>    
                    <div class="email-box clearfix">
                       <p>姓名</p>
                       <input class="email borbox" name="name"> 
                    </div>
                <!--邮箱密码姓名框ending-->
                <!--分割线start-->
                    <div class="box-hr">
                 <!--右边空start-->
                       <div class="col-sm-3"></div>
                <!--checkbox start-->
                        <div class="col-sm-9">
                <!--checkbox one start-->
                           <div class="checkbox">
                              <span>
                                 <input type="checkbox" name="" checked> 
                              </span>
                              <span>我愿意接收华为为我推介的相关信息</span>
                           </div>
                <!--checkbox two start-->
                           <div class="checkbox">
                              <span>
                                 <input type="checkbox" name="" checked> 
                              </span>
                              <span>我愿意接收华为信任的第三方合作伙伴为我推介的华为相关信息</span>
                           </div>
                <!--checkbox two ending--> 
                           <p>
                              <span>* 提交此表格表明你同意接受华为的
                                <a href="#" target="_blank">隐私保护条款</a>和
                                <a href="#" target="_blank">使用条款</a>和
                              </span>
                           </p>                          
                        </div>
                    </div>
                <!--分割线ending-->
    
                </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>  
<!--注册部分end-->
<!--footer部分
  <div id="sign-footer" class="sign-footer">
     <div class="container">
        <div class="row">
           <div class="col-sm-7 float-none center-block">
              <p>版权所有 © 华为技术有限公司 1998-2017.保留一切权利.</p>
           </div>
        </div>
     </div>
  </div>
-->

<script type="text/javascript" src="../javascripts/jquery.1.9.1.min.js"></script>
<script type="text/javascript" src="../javascripts/jquery-ui.min.js"></script>


<script type="text/javascript" src="../javascripts/jquery.validate.js"></script>
<script type="text/javascript" src="../javascripts/jquery.form.js"></script>

<script type="text/javascript" src="../javascripts/bootstrap.min.js"></script>

<script type="text/javascript" src="../javascripts/signup.js"></script>
</body>
</html>